.accomodation_title {
    color: #ff6060;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
}

.accomodation_location {
    color: #ff6060;
    font-size: 18px;
    font-weight: 500;
}

@media all and (max-width: 812px) {
  
    .accomodation_title {
        font-size: 20px;
        line-height: normal;
    }
      
      .accomodation_location {
        font-size: 14px;
    }
}